<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/deepaliparite/IdeaProjects/HelloEyes_AndroidFramework"></test>

        <listeners>
            <listener class-name="utils.TestListener"></listener>
        </listeners>
        <test name = "tests">

        <classes>
            <!--<class name="baseTest.BaseTest">
            <methods>
                <include name="testSplashScreen"/>
            </methods>&ndash;&gt;

        </class>-->
            <class name="tests.SignUpTest">
            <methods>
                <include name="testValidSignUp"/>
                <include name="testInvalidEmailSignUp"/>
                <!--<include name="testWeakPasswordSignUp"/>
                <include name="testDuplicateEmail"/>-->
            </methods>
        </class>
        </classes>
    </test>
</suite>