<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/deepaliparite/IdeaProjects/HelloEyes_AndroidFramework"></test>

        <listeners>
            <listener class-name="utils.TestListener"></listener>
        </listeners>
        <test name = "tests">

        <classes>

            <class name="tests.SignUpTest">
            <methods>
                <include name="testSplashScreen"/>
                <include name="testValidSignUp"/>
                <include name="testInvalidEmailSignUp"/>
                <include name="testWeakPasswordSignUp"/>
                <include name="testDuplicateEmail"/>
            </methods>
            </class>

            <class name="tests.SignInTest">
                <methods>
                    <include name="testValidSignIn"/>
                    <include name="testInvalidEmailFormat"/>
                    <include name="testIncorrectPassword"/>
                    <include name="testEmptyEmail"/>
                    <include name="testEmptyPassword"/>
                    <include name="testEmptyEmailAndPassword"/>
                    <include name="testUnregisteredEmail"/>
                    <include name="testCaseSensitivityInEmail"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>